/* Dark mode styles go here! */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #191919;
    color: #9e9e9e;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }

  .header__branding {
    [class*='icon-'] {
      color: $white;
    }
  }

  .skills__box {
    box-shadow: 0 rem-calc(15) rem-calc(35) rgba(0, 0, 0, 0.5);

    [class*='icon-'] {
      color: #696969;
    }

    @include breakpoint(xlarge) {
      background-color: #1f1f1f;
    }
  }

  .skills__box,
  .projects__box {
    box-shadow: none;

    img {
      box-shadow: 0 rem-calc(15) rem-calc(35) rgba(26, 26, 26, 0.5);
    }
  }

  .projects__content {
    strong {
      color: $white;
    }
  }

  .header__contact,
  .projects__box,
  .footer__contact {
    .button {
      color: #838383;
      background: #343434;
      border: 1px #343434 solid;

      &:hover,
      &:focus,
      &:active {
        color: $black;
        background: $white;
        border: 1px $white solid;
      }
    }
  }

  .footer__copyright,
  .about__content {
    a {
      color: $white;
      transition: all 0.25s ease-out;
      border-bottom: 1px solid transparent;
      padding-bottom: rem-calc(4px);

      &:hover {
        color: $white;
        border-bottom: 1px solid $white;
        padding-bottom: rem-calc(4px);
      }
    }
  }
}

/* light mode styles go here! */

@media (prefers-color-scheme: light) {
  .footer__copyright,
  .about__content {
    a {
      transition: all 0.25s ease-out;
      border-bottom: 1px solid transparent;
      padding-bottom: rem-calc(4px);

      &:hover {
        border-bottom: 1px solid $primary-color;
        padding-bottom: rem-calc(4px);
      }
    }
  }
}
